  <!-- <footer class="page-footer orange"> -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About MentorMeCode</h5>
          <p class="grey-text text-lighten-4">MentorMeCode is an ongoing platform where we take a top-bottom approach as opposed to the norm of bottom-up style. From web development to machine learning (AI) to data science to tinkering with robotics and the raspberry pi.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright &copy; 2020 MentorMeCode. 
      <!-- Made with love by <a class="text-lighten-3" href="#!">MentorMeCode</a>. -->
      </div>
    </div>
  </footer>