{% extends 'main/base.html' %}

{% block content %}
<h3>Your Dashboard:</h3>
<hr>
<hr>
<div>
    <h5>Your Profile:</h5>
    {% if user_profile is None %}
        <p>You have no profile yet. Click on the link below to create it.</p>
    {% else %}
        <ul>
            <li><strong>Username:</strong> {{ user_profile.user }}</li>
            <li><strong>Full name:</strong> {{ user_profile.first_name }} {{ user_profile.last_name }}</li>
            <li><strong>Email:</strong> {{ user_profile.email }}</li>
            <li><strong>Phone:</strong> {{ user_profile.phone }}</li>
            <li><strong>Interest:</strong> {{ user_profile.interest }}</li>
            <li><strong>Code Goal:</strong> {{ user_profile.code_goal }}</li>
        </ul>
    {% endif %}
    <a class="btn btn-outline-primary" href="{% url 'accounts:update_profile' %}">Update Profile<i class="material-icons right">update</i></a>
</div>
<br>
<hr>
<div>
    <h5>Your Projects:</h5>
    {% for obj in user_projects %}
    <ol>
        <li>{{ obj.title }}</li>
    </ol>
    {% empty %}
        <p>You have no projects yet. Click on the link below to create some.</p>
    {% endfor %}
    <a class="btn btn-outline-primary" href="#">Add Projects<i class="material-icons right">add_to_queue</i></a>
</div>
<br>
<hr>
<div>
    <h5>Your Message Board:</h5>
    <a class="btn btn-outline-primary" href="{% url 'accounts:message_mentor' %}">Send Message<i class="material-icons right">send</i></a>
</div>
<br>
<hr>
{% endblock %}