{% extends 'main/base.html' %}

{% block content %}
<h3>Update Your Profile:</h3>
<br>
<div>
    <form method="POST" action=".">{% csrf_token %}
        {{ form.as_p }}
        <p>
            <button class="btn waves-effect waves-light" type="submit" name="action">Update
                <i class="material-icons right">update</i>
            </button>   
            <a style="background-color: red" class="btn btn-outline-primary" href="{% url 'accounts:dashboard' %}">Cancel<i class="material-icons right">cancel</i></a>
        </p>
    </form>
</div>

{% endblock %}

