<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    {% include 'main/includes/navbar.html' %}
  </div>
  {% include 'main/includes/messages.html' %}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

<!-- Prism JS -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script>M.AutoInit();</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</body>