<nav>
	<div class="nav-wrapper container">
	  <a href="{% url 'main:homepage' %}" class="brand-logo">Mentor Me Code</a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a href="{% url 'main:homepage' %}">Home</a></li>
	    <li><a href="https://discord.gg/mentormecode">Community</a></li>
	    {% if user.is_authenticated %}
		    <li><a href="/account">{{user.username|title}}</a></li>
		    <li><a href="{% url 'main:logout' %}">Logout</a></li>
	    {% else %}
		    <li><a href="{% url 'main:login' %}">Login</a></li>

	    	<li><a href="{% url 'main:register' %}">Register</a></li>
	    {% endif %}
	  </ul>
	</div>
</nav>
